.c-login {
    padding: 20px;
}

.c-login__wrapper {
    width: 435px;
    background-color: rgb(255, 255, 255);
    gap: 45px;
}

.c-form {
    gap: 20px;
}

.c-form--gap {
    gap: 35px;
}

.c-form__fields {
    gap: 40px;
}

.c-form__group {
    gap: 15px;
}

.c-form__group--gap {
    gap: 62px;
}

.c-form__label {
    color: var(--disable-color);
    font-size: 16px;
    white-space: nowrap;
    font-weight: 500;
}

.c-form__input {
    --border-color-gray: #00000050;
    border-bottom: 2px solid var(--border-color-gray);
    transition: var(--hover-transition);
}

.c-form__input:focus {
    border-bottom: 2px solid var(--primary-color);
}

.c-form__signup-link {
    position: relative;
    color: var(--primary-color);
    margin-left: -70px
}

.c-form__signup-link:hover {
    text-decoration: underline;
}

@media (max-width: 500px) {
    .c-login__wrapper {
        width: 100%;
    }

    .c-login__title {
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .c-form__group {
        flex-direction: column;
    }

    .c-form__group--gap {
        gap: 15px;
    }

    .c-form__label {
        position: relative;
        width: 100%;
        text-align: left;
    }

    .c-form__signup-link {
        margin-left: 0px;
    }
}
