/* Display flex */
.u-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Display grid */
.u-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Input */
.u-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: var(--hover-transition);
}

.u-focus:focus {
    border: 2px solid var(--primary-color);
}

/* Button */
.u-btn {
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.u-btn-primary {
    color: var(--disable-color);
    white-space: nowrap;
    background-color: var(--btn-gray-color);
    transition: var(--hover-transition);
    padding: 15px 60px;
}

.u-btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

/* Others */
.u-white {
    color: white;
}

.u-black {
    color: black;
}

.u-right {
    width: 100%;
    text-align: right;
}

.u-left {
    width: 100%;
    text-align: left;
}

.u-center {
    width: 100%;
    text-align: center;
}

.u-title {
    font-size: 32px;
    font-weight: normal;
}

.u-width-100 {
    width: 100%;
}

@media (max-width: 500px) {
    .u-title {
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .u-title {
        font-size: 25px;
    }
}

@media (max-width:250px) {
    .u-btn {
        width: 100%;
    }
}