/* Display flex */
.u-fullscreen {
    width: 100%;
    height: 100vh;
}

.u-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Display grid */
.u-grid {
    display: grid;
}

/* Input */
.u-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 15.5px;
    transition: var(--hover-transition);
}

.u-focus:focus {
    border: 2px solid var(--primary-color);
}

/* Button */
.u-btn {
    border: none;
    font-size: 16px;
    background-color: transparent;
}

.u-btn-primary {
    color: var(--disable-color);
    white-space: nowrap;
    background-color: var(--btn-gray-color);
    transition: var(--hover-transition);
    padding: 15px 65px;
}

.u-btn-primary:hover {
    color: var(--white);
    background-color: var(--primary-color);
}

/* Effetcs */
.u-underline-fx {
    position: relative;
}

.u-underline-fx::before {
    --fx-transition: all 250ms ease-in-out;
    content: '';
    width: 0%;
    height: 2.5px;
    bottom: 5px;
    left: 50%;
   
    transform: translateX(-50%);
    background-color: var(--white);
    transition: var(--fx-transition);
    position: absolute;
}

.u-underline-fx:hover::before {
    width: 100%;
}

/* Others */
.u-white {
    color: white;
}

.u-black {
    color: black;
}

.u-text-right {
    text-align: right;
}

.u-text-left {
    text-align: left;
}

.u-text-center {
    text-align: center;
}

.u-title {
    font-size: 32px;
    font-weight: normal;
}

.u-width-100 {
    width: 100%;
}

@media (max-width: 500px) {
    .u-title {
        text-align: center;
        font-size: 30px;
    }
}

@media (max-width: 300px) {
    .u-title {
        font-size: 25px;
    }
}

@media (max-width:250px) {
    .u-btn {
        width: 100%;
    }
}