.u-right {
    width: 100%;
    text-align: right;
}

.u-flex-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.u-flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.u-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.u-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    transition: var(--hover-transition);
}

.u-btn {
    border: none;
    font-size: 16px;
    background-color: transparent;
    padding: 14px 55px;
}